.div-box{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button{
        width: 200px;
        cursor: pointer;
    }
}

.div-box-dark{
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button{
        border: 1px solid white;
        width: 200px;
        cursor: pointer;
    }
}